.char-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 118, 1) 35%,
    rgba(130, 28, 131, 1) 63%,
    rgba(0, 212, 255, 1) 100%
  );
}
.init-title {
  color: #fff;
  font-size: 1.4rem;
  padding: 10px;
}
.init-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.init-input-container label {
  color: #fff;
}
.char-select input {
  width: 50%;
  padding: 10px;
}

.char-select button {
  padding: 10px;
  width: 30%;
  margin-bottom: 5vmin;
}
