.chat-bubble {
  padding: 5px;
  background-color: #f0eded;
  align-self: start;
  border-radius: 5px;
  width: 70%;
}

.me {
  background-color: rgb(12, 55, 247);
  color: white;
  align-self: end;
}

.message-container {
  display: flex;
  flex-direction: column;
}
.sender {
  align-self: flex-start;
  font-size: 1.1rem;
  color: #f4f4f4;
  font-weight: bold;
  margin: 2px;
}
.timestamp {
  margin-left: 20px;
  font-size: 0.8rem;
}
