.landing-page {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.landing-page__content {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 50%;
  padding: 5vmin;
}
.content-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
  height: 40%;
}
.content-head img {
  width: 12%;
}
.content-body {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-body p {
  margin: 2px;
}
.c-body__phrase {
  font-size: 2.2rem;
  font-weight: 300;
  letter-spacing: 1px;
}
.c-body__end {
  font-weight: 400;
  letter-spacing: 0.3vmin;
  color: rgb(0, 153, 255);
  font-size: 2.2rem;
}
.landing-page__form {
  width: 30%;
}
.landing-title {
  font-size: 3.4em;
  font-weight: lighter;
  letter-spacing: 2px;
  color: rgb(223, 121, 85);
  margin: 20px 0 25px 0;
}

@media (max-width: 800px) {
  .landing-page {
    flex-direction: column;
  }
  .landing-page__content {
    height: 50vh;
    align-items: center;
    justify-content: center;
  }
  .content-body {
    height: 30%;
  }
  .landing-page__form {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .landing-page__form .form {
    height: 90%;
  }
}
